@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #331A15;
  
}


@layer utilities {
    .font-rancho {
        font-family: 'Rancho', cursive;
    }

    .font-raleway {
        font-family: 'Raleway', sans-serif;
    }
}

